<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./public/resources/css/style.css" type="text/css">
    <title>ToDo List</title>
</head>
<body>
    <div id="app" class="container">
        <h1>ToDo List</h1>
        <!-- todo list goes here -->
        <ul>
            <li v-for="(slide, i) in slides" :key="i">
                <div class="flex-container">
                    <div class="tasks">
                        <span v-if="slide.done === false">&#x2717;</span>
                        <span v-else class="done">&#10003;</span>{{ slide.text }}
                    </div>
                    <button class="delete" @click="removeTask(i)">Delete task</button>
                    <button v-if="slide.done === false" class="mark-as" @click="markAsDone(i)">Mark as done</button>
                    <button v-else class="mark-as" @click="markAsDone(i)">Mark as undone</button>
                </div>
            </li>
        </ul>
        <label for="new-task">New task</label>
        <input type="text" v-model="newTask" id="new-task" name="new-task">
        <button @click="addNewTask">Add new task</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./public/js/script.js" type="text/javascript"></script>
    <script src="./public/js/main.js" type="text/javascript"></script>
</body>
</html>