/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

/* container */
.container {
    width: 90%;
    margin: 2rem auto;
}